

* { padding: 0; margin: 0; }


a:link{

color:white;

text-decoration: none

}
a:visited{

color:white;

text-decoration: none

}
a:hover{
color:#000000;

text-decoration: none

}
a:active{
color:#000000;

text-decoration: none

}
body {
 font-family: Arial, Helvetica, sans-serif;
 font-size: 13px;
}
#container
{
	margin-left: 10%;
	margin-right: 10%;
}
#wrapper { 
 margin: 0 auto;
 width: 922px;
}
#header {

 width: 816px;
 color: #FFFFFF;
 padding: 10px;
 border: none;
 height: 200px;
 margin: 10px 0px 5px 10px;
 background: #FFFFFF;
 text-align: center;
 background: url(banner.jpg); background-repeat: no-repeat;
 background-position: center;
}
#navigation {
 width: 816px;
 color: #FFFFFF;
 padding: 10px 0 0 0;
 height: 30px;
 border: none;
 margin: 0px 0px 5px 10px;
 text-align: center;
 background: url(back.jpg);
}
#content { 
 width: 816px;
 color: #000000;
 border: none;
 background: #FFFFFF;
 margin: 10px 0px 5px 10px;
 padding: 0px;
 min-height: 300px;
 text-align: center;
}
#content a:link {
	color: #000000;
	
	text-decoration: none;
}
#content a:visited{
	color: #000000;
	
	text-decoration: none;
}
#content a:hover{
	color: white;
	background-color: #000000;
	text-decoration: none;
}
#content a:active{
	color: white;
	background-color: #000000;
	text-decoration: none;
}

#footer { 
 width: 816px;
 color: #FFFFFF;
 border: none;
 background: #999999;
 margin: 0px 0px 10px 10px;
 padding: 10px 0 0 0;
 height: 30px;
 text-align: center; 
 background: url(back.jpg);
}


#content td {
padding: 20px;
background: #eee;
}