
<head>

<title>Kontakt Formular</title>

</head>

<body>
<center>

<h1>Impressum</h1>

Anbieter: <br/>

Max Mustermann<br/>
Musterstraße 12<br/>
12345 Hamburg<br/>
<br/>
Kontakt:<br/>
<br/>
Telefon: 030/12345678<br/>
Telefax: 030/12345679<br/>
e-Mail: e-Mail@mustermann.de<br/>
Website: www.mustermann.de<br/>
<br/>
<br/>
Verantwortlich nach § 6 Abs.2 MDStV<br/>
<br/>
Paul Schreiber <br/>
Ahornallee 1 <br/>
12345 Berlin<br/>
<br/>
<br/>
Registergericht: AG Berlin<br/>
HRB-Nummer: 54321<br/>
Umsatzsteueridentifikationsnummer: 123456789<br/>
Nennung des vertretungsberechtigten Geschäftsführer einer GmbH<br/>

<br />
		

</form>
</center>

</body>

</html>
